<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="TheITNerd" translate="label" sortOrder="250">
            <label>TheITNerd</label>
        </tab>
        <section id="theitnerd_customer" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer</label>
            <tab>TheITNerd</tab>
            <resource>TheITNerd_UX::config</resource>
            <group id="menu" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Menu</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="theitnerd_newsletter" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Newsletter</label>
            <tab>TheITNerd</tab>
            <resource>TheITNerd_UX::config</resource>
            <group id="privacy_policy" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Privacy Policy</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="privacy_policy_text" translate="label" type="editor" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Newsletter Privacy Policy</label>
                </field>
            </group>
        </section>

        <section id="theitnerd_catalog" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog</label>
            <tab>TheITNerd</tab>
            <resource>TheITNerd_UX::config</resource>
            <group id="shipping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping</label>
                <field id="pdp_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Shipping Estimates on PDP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="installments" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Installments</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Installments on PDP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="interest" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Installment Interest</label>
                    <validate>validate-zero-or-greater</validate>
                </field>
                <field id="no_interest_installments" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Installment without Interest</label>
                    <validate>validate-zero-or-greater</validate>
                </field>
                <field id="minimum_installment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minimum Installment Value</label>
                    <validate>validate-zero-or-greater</validate>
                </field>
                <field id="maximum_installments" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Installments</label>
                    <validate>validate-zero-or-greater</validate>
                </field>
            </group>
        </section>

        <section id="contact" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="email" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="email_template_widget" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template for Contact Widget</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/contact/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
